# Resolución de Business Case - Jr Data Analyst

1. ¿Cuál es el tiempo promedio de entrega para todas las órdenes?  

2. Calcula los percentiles 75 y 90 del tiempo de entrega e interpreta los resultados. ¿Crees que es relevante incluir percentiles junto con el promedio en este análisis? ¿Por qué o por qué no?
3. Propón al menos un indicador para medir el rendimiento de entrega de las órdenes, dado el compromiso hecho con el cliente.
4. Basándote en el punto anterior, ¿cuáles son los tres estados con el mejor rendimiento de entrega?
5. ¿Identificas algún patrón geográfico en los retrasos de entrega? ¿Son estos patrones consistentes con el tiempo?
6. ¿Qué iniciativas propones para mejorar los tiempos de entrega y el rendimiento? Clasifica estas iniciativas según la prioridad que les darías para su implementación y justifica.

In [3]:
import pandas as pd
import Funciones

In [11]:
order = pd.read_excel('bc_orders_dataset_modif.xlsx')
customer = pd.read_excel('bc_customers_dataset_modif.xlsx')

In [17]:
order.head()

,order_id,customer_id,order_status,order_approved_at,order_received_by_local_operator_date,order_delivered_to_customer_date,order_delivery_promise_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [25]:
df_promedio = pd.DataFrame({ 'fecha_entrega': order['order_delivered_to_customer_date'],
'fecha_aprobacion': order['order_approved_at'] })

df_promedio['duracion'] = df_promedio['fecha_entrega'] - df_promedio['fecha_aprobacion']

df_promedio['duracion'] = df_promedio['duracion'].dt.days

df_promedio = df_promedio.dropna(subset=['duracion']) #Se quitan los valores negativos dado que no se le puede cambiar el tipo de dato a la columna si posee valores negativos.

df_promedio['duracion'] = df_promedio['duracion'].astype(int)

df_promedio['duracion'].mean()

11.642968215463084